[Desktop Entry]
Type=Application
Terminal=true
Name=shadow-stable
Exec=/usr/local/bin/shadow-prod
Icon=shadow.png
GenericName=Shadow Client
Comment=Play Games
Categories=Network;FileTransfer;Game;
Keywords=Games
