[Desktop Entry]
Type=Application
Terminal=true
Name=shadow-beta
Exec=/usr/local/bin/shadow-beta
Icon=shadow-preprod.png
Categories=Game
Keywords=Games
